<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% Block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">IC</div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="#">Sobre</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="#">Contatos</a>
        </div>